<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="DefaultCulture" value="es-DO" />
  </appSettings>
  <connectionStrings>
    <add name="BD_PLA_FT"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PLA_FT;User ID=sa;Password=R3g1na1207"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>